doctype html
html
  head
    title= titulo
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="css/jquery.min.css")
  body
    #wrapper
     h1 celia
    #barra
     form(action="/resultados", autocomplete="off", method="get")
      input(type="text", name="s")
      button(type="submit") go
    script(src="js/jquery.min.js")
    script(src="js/main.js")