@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito';
    background:white;
}

.azul {
    background: #00ACC1;
}

#wrapper {
    height: 50vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#wrapper h1 {
    text-align: center;
    font-size: 8em;
    color: snow;
}

#barra {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#barra form {
    display: flex;
    align-items: center;
    align-content: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.397);
    justify-content: center;
}

#barra form input {
    border: none;
    font-family: 'Nunito';
    height: 40px;
    width: 28em;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: rgb(116, 114, 114);
    padding-left: 10px;
}

#barra form button {
    font-family: 'Nunito';
    background: rgb(22, 87, 209);
    border-top-right-radius: 4px;
    color: white;
    border-bottom-right-radius: 4px;
    border: none;
    height: 40px;
    width: 3em;
}

form {
    border-radius: 4px;
}

a {
    text-decoration: none;
    color: inherit;
}

#resultados {
    padding-right: 2.5em;
    padding-top: 2em;
    padding-left: 2.5em;
    margin-bottom: 4em;
}

button img {
    width: 40px;
}

#titulo {
    display: flex;
    padding-left: 1em;
    color: white;
    position: fixed;
    width: 100vw;
    background: #00ACC1;
    align-content: center;
    /*justify-content: center;*/
    align-items: center;
    height: 10vh
}

.resultado {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.397);
    padding-left: 1em;
    padding-top: 1em;
    padding-right: 1em;
    background: rgb(245, 244, 244);
    margin-top: 1em;
    padding-bottom: 2em;
}

@media (max-width: 480px) {

    #cima h5 {
        font-size: 18px;
    }

    #cima span {
        font-size: 16px;
    }

    #titulo form input {
        border: none;
        height: 30px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.397);
        border-radius: 4px;
        color: rgb(128, 126, 126);
        font-family: 'Nunito';
        padding-left: 10px;
    }



}

#wr-res {
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-column-gap: 1em;
}

h5 {
    font-size: 24px;
}

span {
    font-size: 20px;
}

#cima {
    height: 15vh;
    padding-top: 1.5em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-top: 10vh;
    border-radius: 2px;
    background: rgb(235, 229, 229);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.397);
    margin-bottom: 2em;
}

.resultado h2 {
    font-size: 18px;
}

.resultado h3 {
    color: rgb(44, 189, 44);
    font-size: 16px;
    font-weight: normal;
}

.resultado p {
    font-size: 14px;
}

#titulo form input {
    width: 15vw;
    min-width: 110px;
    position: relative;
    left: 70vw;
    border: none;
    height: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.397);
    width: 15vw;
    border-radius: 4px;
    color: rgb(128, 126, 126);
    font-family: 'Nunito';
    padding-left: 10px;
}